[submodule "public"]
	path = public
	url = git@github.com:woodyZootopia/woodyZootopia.github.io.git
	branch = master
[submodule "themes/hugo-icarus-theme"]
	path = themes/hugo-icarus-theme
	url = git@github.com:digitalcraftsman/hugo-icarus-theme.git
